.sidebar{
    position: fixed;
    background-color: rgb(12, 10, 19);
}

.logo {
    width: 40px;
    height: auto;
    margin: 20px 10px;
}
#logo{
    color: rgb(69, 69, 255);
}

.nav-menu {
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
    color: aliceblue;
}
.nav-menu:hover{
    color: rgb(69, 69, 255);
}